# Byte-compiled / optimized / DLL files
__pycache__/
.idea/
*.py[cod]
*$py.class
*.pth

# Project file
logs/
application/
experiments/
*nonpublish.py
no_submission*
# Project exclude paths
/datasets/


# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
.env

# virtualenv
venv/
ENV/

# Spyder project settings
.spyderproject

# Rope project settings
.ropeproject

# User directories
Local

# .DS_Store
.DS_Store

# VIM swap files
*.swp

# PyCharm
.idea/

# VS Code
.vscode/
